# HockeySDK

External/HockeySDK-iOS-3.0.0/documentation
External/HockeySDK-iOS-3.0.0/Products

# OpenSSL
External/OpenSSL-for-iPhone/bin
External/OpenSSL-for-iPhone/*.gz
External/OpenSSL-for-iPhone/src

# PJSIP
External/pjproject-2.*/pjlib-util/build/.pjlib-util-test-arm-apple-darwin9.depend
External/pjproject-2.*/pjlib-util/lib/libpjlib-util-arm-apple-darwin9.a
External/pjproject-2.*/pjlib/lib/libpj-arm-apple-darwin9.a
External/pjproject-2.*/pjmedia/build/.pjmedia-arm-apple-darwin9.depend
External/pjproject-2.*/pjmedia/build/.pjmedia-codec-arm-apple-darwin9.depend
External/pjproject-2.*/pjmedia/build/.pjmedia-test-arm-apple-darwin9.depend
External/pjproject-2.*/pjmedia/lib/libpjmedia-arm-apple-darwin9.a
External/pjproject-2.*/pjmedia/lib/libpjmedia-audiodev-arm-apple-darwin9.a
External/pjproject-2.*/pjmedia/lib/libpjmedia-codec-arm-apple-darwin9.a
External/pjproject-2.*/pjmedia/lib/libpjmedia-videodev-arm-apple-darwin9.a
External/pjproject-2.*/pjmedia/lib/libpjsdp-arm-apple-darwin9.a
External/pjproject-2.*/pjnath/lib/libpjnath-arm-apple-darwin9.a
External/pjproject-2.*/pjsip-apps/bin/pjsystest-arm-apple-darwin9
External/pjproject-2.*/pjsip-apps/build/.pjsua-arm-apple-darwin9.depend
External/pjproject-2.*/pjsip-apps/build/.pjsystest-arm-apple-darwin9.depend
External/pjproject-2.*/pjsip/lib/libpjsip-arm-apple-darwin9.a
External/pjproject-2.*/pjsip/lib/libpjsip-simple-arm-apple-darwin9.a
External/pjproject-2.*/pjsip/lib/libpjsip-ua-arm-apple-darwin9.a
External/pjproject-2.*/pjsip/lib/libpjsua-arm-apple-darwin9.a
External/pjproject-2.*/third_party/lib/libg7221codec-arm-apple-darwin9.a
External/pjproject-2.*/third_party/lib/libgsmcodec-arm-apple-darwin9.a
External/pjproject-2.*/third_party/lib/libilbccodec-arm-apple-darwin9.a
External/pjproject-2.*/third_party/lib/libmilenage-arm-apple-darwin9.a
External/pjproject-2.*/third_party/lib/libresample-arm-apple-darwin9.a
External/pjproject-2.*/third_party/lib/libspeex-arm-apple-darwin9.a
External/pjproject-2.*/third_party/lib/libsrtp-arm-apple-darwin9.a
External/pjproject-2.*/pjlib-util/build/output/
External/pjproject-2.*/pjlib/build/output/
External/pjproject-2.*/pjmedia/build/output/
External/pjproject-2.*/pjnath/build/output/
External/pjproject-2.*/pjsip-apps/bin/samples/
External/pjproject-2.*/pjsip-apps/build/output/
External/pjproject-2.*/pjsip/build/output/
External/pjproject-2.*/third_party/build/g7221/output/
External/pjproject-2.*/third_party/build/gsm/output/
External/pjproject-2.*/third_party/build/ilbc/output/
External/pjproject-2.*/third_party/build/milenage/output/
External/pjproject-2.*/third_party/build/resample/output/
External/pjproject-2.*/third_party/build/speex/output/
External/pjproject-2.*/third_party/build/srtp/output/

External/pjproject-2.1.0/build.mak
External/pjproject-2.1.0/build/cc-auto.mak
External/pjproject-2.1.0/build/os-auto.mak
External/pjproject-2.1.0/config.log
External/pjproject-2.1.0/config.status
External/pjproject-2.1.0/pjlib-util/bin/
External/pjproject-2.1.0/pjlib-util/build/.pjlib-util-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjlib-util/build/os-auto.mak
External/pjproject-2.1.0/pjlib/bin/
External/pjproject-2.1.0/pjlib/build/.pjlib-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjlib/build/.pjlib-test-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjlib/build/os-auto.mak
External/pjproject-2.1.0/pjlib/include/pj/compat/m_auto.h
External/pjproject-2.1.0/pjlib/include/pj/compat/os_auto.h
External/pjproject-2.1.0/pjlib/include/pj/config_site.h
External/pjproject-2.1.0/pjmedia/bin/
External/pjproject-2.1.0/pjmedia/build/.pjmedia-audiodev-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjmedia/build/.pjmedia-videodev-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjmedia/build/.pjsdp-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjmedia/build/os-auto.mak
External/pjproject-2.1.0/pjmedia/include/pjmedia-codec/config_auto.h
External/pjproject-2.1.0/pjmedia/include/pjmedia/config_auto.h
External/pjproject-2.1.0/pjnath/bin/
External/pjproject-2.1.0/pjnath/build/.pjnath-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjnath/build/.pjnath-test-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjnath/build/.pjturn-client-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjnath/build/.pjturn-srv-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjsip-apps/bin/
External/pjproject-2.1.0/pjsip/bin/
External/pjproject-2.1.0/pjsip/build/.pjsip-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjsip/build/.pjsip-simple-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjsip/build/.pjsip-test-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjsip/build/.pjsip-ua-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjsip/build/.pjsua-lib-arm-apple-darwin9.depend
External/pjproject-2.1.0/pjsip/build/os-auto.mak
External/pjproject-2.1.0/pjsip/include/pjsip/sip_autoconf.h
External/pjproject-2.1.0/third_party/build/g7221/.libg7221codec-arm-apple-darwin9.depend
External/pjproject-2.1.0/third_party/build/gsm/.libgsmcodec-arm-apple-darwin9.depend
External/pjproject-2.1.0/third_party/build/ilbc/.libilbccodec-arm-apple-darwin9.depend
External/pjproject-2.1.0/third_party/build/milenage/.libmilenage-arm-apple-darwin9.depend
External/pjproject-2.1.0/third_party/build/os-auto.mak
External/pjproject-2.1.0/third_party/build/portaudio/os-auto.mak
External/pjproject-2.1.0/third_party/build/resample/.libresample-arm-apple-darwin9.depend
External/pjproject-2.1.0/third_party/build/speex/.libspeex-arm-apple-darwin9.depend
External/pjproject-2.1.0/third_party/build/srtp/.libsrtp-arm-apple-darwin9.depend

# OS X noise
*.ipa
*.swp
*~.nib

# System and Xcode stuff
.svn
.DS_Store
profile
xcuserdata
build/*
*~.nib
*.swp
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
build
*.pbxuser
!default.pbxuser
*.mode?v3
!default.mode?v3
*.perspective
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
*.moved-aside

