

# OpenSSL
External/OpenSSL-for-iPhone/bin
External/OpenSSL-for-iPhone/lib
External/OpenSSL-for-iPhone/*.gz
External/OpenSSL-for-iPhone/src

# PJSIP

# System and Xcode stuff
.svn
.DS_Store
profile
xcuserdata
build/*
*~.nib
*.swp
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
